:root{
    --primario:#9C27B0;
    --primarioOscuro:#89119D;
    --secundario:#FFCE00;
    --secundarioOscuro:rgb(233,287,2);
    --blanco:#FFFFFF;
    --negro:#000;

    --fuentePrincipal:'Staatliches', cursive;
}

/*Propiedades globables*/
html{
    box-sizing: border-box;
    font-size: 62.5%; /*rem de 10px*/
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--blanco);
}

a{
    text-decoration: none;
}

.container, .contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color:var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

img{
    width: 100%;
}

/*Header*/

.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/* Navegacion*/
.navegationMenu{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav__element{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}

.nav__element:hover{
    color: var(--secundario);
}

.nav__element:focus{
    color: var(--secundario);
}

.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text{
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}

/*Grid de los productos*/

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.product{
    background-color: var(--primarioOscuro);
    padding: 1rem;
    border-radius: 20px;
}

.producto__image{
    width: 100%;
}

.product__name{
    font-size: 4rem;
}

.product__price{
    font-size: 2.8rem;
    color: var(--secundario);
}


.product__name, .product__price{
    font-family: var(--fuentePrincipal);
    margin:1rem 0;
    text-align: center;
}

.graphic{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: 
    cover;
}

.node--graphic{
    background-image: url(FrontEndStore_inicio/img/grafico2.jpg);
    grid-column: 1 / 3;
    grid-row:8 / 9;
}

.shirt--graphic{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url(FrontEndStore_inicio/img/grafico1.jpg);
}


@media (min-width: 768px){
    .node--graphic{
        grid-row: 5 / 6;
        grid-column: 2 /4;
    }
}


/*Pagina de nosotros*/

.nosotros{
    display: grid;
    grid-template-rows:repeat(2, auto);
}

.nosotros__imagen{
    grid-row: 1 / 2;
    width: 100%;
}

@media (min-width:768px){
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        column-gap:2rem;
    }

    .nosotros__imagen{
        grid-column: 2 / 3;
    }
}

.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.bloque{
    text-align: center;
}

.bloque__titulo{
    margin: 0;
}

@media (min-width:768px){
    .bloques{
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
    }
}


/* Pagina de producto*/

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo{
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    color: var(--blanco);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario__campo option{
    color: var(--negro);
}

.formulario__submit{
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}

.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

@media (min-width:768px){
    .camisa{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .formulario__campo{
        font-size: 2rem;
    }

}
